@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out our sweet and savory treats!</Sp>
    <p>@Html.ActionLink("Create a new account", "Index", "Account")</p>
    <p>@Html.ActionLink("Login", "Login", "Account")</p>
</div>

