@{
  Layout = "_Layout";
}

@using PierresSweetAndSavoryTreats.Models;
@model IEnumerable<PierresSweetAndSavoryTreats.Models.Treat>

<h1>Our Treats</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>We currently have no treats</h3>
}

<p>@Html.ActionLink("Add new treat", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>